body{
    background-color: #ffffff;
    align-items: center;
}

h1{
    color: rgb(14, 14, 14);
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 60px;
}

h2{
    color: rgb(14, 14, 14);
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 35px;
}

p{
    color: rgb(15, 15, 15);
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
}

.imagencentrada{
    padding-left: 31%;
    padding-right: 23%;
    
    
}

#borde{
    border: outset black;
    border-radius: 22px;
    border-radius: 22px;
    width:80%;
    height: 450px;
}

.parrafo{
    text-align: justify;
    padding-left: 5%;
    padding-right: 5%

}

#familiaimagen{
    
    border: outset black;
    border-radius: 22px;
    width:80%;
    height: 450px;
}

.famili{
    padding-left: 30%;
    padding-right: 23%;
    padding-bottom: 50px;

}

.collage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0; /* Ajusta el espaciado entre el texto y el collage */
}

.fila {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0; /* Ajusta el espaciado entre las filas */
}

.fila img {
    width: 200px; /* Ajusta el tamaño de las imágenes de cada fila */
    height: auto; /* Mantiene la proporción original */
    margin: 10px; /* Ajusta el espaciado entre las imágenes en una fila */
    border: 2px solid black;
    border-radius: 10px;
}



